/*
 Theme Name:     Divi Child Theme
 Theme URI:      
 Description:    Divi Child Theme
 Author:         Metro Marketing
 Author URI:     
 Template:       Divi
 Version:        1.0
*/
/*

copiled via saas

*/

@import url('css/styles.css');

/* update the headline fonts */
body, html, h1, h2, p{
  font-family: 'font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
h1, h2{
  font-weight: bold;
}

/* remove the shopping cart icon on the primary menu */
#et-top-navigation .et-cart-info{
  display:none;
}

/* remove the shopping cart icon on the secondary menu */
#et-secondary-menu .et-cart-info{
  display: none;
}

/* this class will cross the other section */
.cross-section{
  margin-top:-125px;
  z-index: 10;
}


/*----- HEADER SECTION -----*/
@media(max-width: 1315px){
  #top-menu{
    display: none;
  }
  #et_mobile_nav_menu{
    display: block;
  }
}

/*----- FOOTER SECTION -----*/
#main-footer{
  position: relative;
  background: -moz-linear-gradient(right, #00aeef 0%, #00aeef 20%, #094fa3 40%, #094fa3 51%, #094fa3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, #00aeef 0%,#00aeef 20%,#094fa3 40%,#094fa3 51%,#094fa3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, #00aeef 0%,#00aeef 20%,#094fa3 40%,#094fa3 51%,#094fa3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#094fa3', endColorstr='#00aeef',GradientType=1 ); /* IE6-9 */
}
#main-footer::before{
  width:100%;
  height: 486px;
  display: block;
  content: '';
  background-image: url('/wp-content/uploads/2017/03/pattern_footer.png');
  background-position: center;
  position: absolute;
  top: -486px;
}

.border-hover .et_pb_column {
 overflow: hidden;
 position: relative;
}
 
.border-hover .et_pb_column img {
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 transition: all 0.5s ease-in-out;
}
 
.border-hover .et_pb_column:hover img {
 transform: scale(1.1);
}
 
.border-hover .et_pb_column:hover .et_pb_image:after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0,0,0,0.4);
 content: '';
}
 
.border-hover .et_pb_column .et_pb_promo_description:before {
 top: 50px;
 right: 30px;
 bottom: 50px;
 left: 30px;
 border-top: 1px solid #fff;
 border-bottom: 1px solid #fff;
 -webkit-transform: scale(0,1);
 transform: scale(0,1);
 -webkit-transform-origin: 0 0;
 transform-origin: 0 0;
 position: absolute;
 content: '';
 opacity: 0;
 -webkit-transition: opacity 0.35s,
 -webkit-transform 0.35s;
 transition: opacity 0.35s, transform 0.35s;
}
 
.border-hover .et_pb_column .et_pb_promo_description:after {
 top: 30px;
 right: 50px;
 bottom: 30px;
 left: 50px;
 border-right: 1px solid #fff;
 border-left: 1px solid #fff;
 -webkit-transform: scale(1,0);
 transform: scale(1,0);
 -webkit-transform-origin: 100% 0;
 transform-origin: 100% 0;
 position: absolute;
 content: '';
 opacity: 0;
 -webkit-transition: opacity 0.35s,
 -webkit-transform 0.35s;
 transition: opacity 0.35s, transform 0.35s;
}
 
.border-hover .et_pb_column:hover .et_pb_promo_description:before, .border-hover .et_pb_column:hover .et_pb_promo_description:after {
 -webkit-transition-delay: 0.15s;
 transition-delay: 0.15s;
 opacity: 1;
 -webkit-transform: scale(1);
 transform: scale(1);
}
 
.border-hover .et_pb_column .et_pb_promo_description h2 {
 opacity: 0;
 color: #fff;
 position: absolute;
 top: 37%;
 width: 100%;
 text-align: center;
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 transition: all 0.5s ease-in-out;
 margin: 0;
 padding: 0;
}
 
.border-hover .et_pb_column .et_pb_promo_description p {
 opacity: 0;
 color: #fff;
 position: absolute;
 top: 42%;
 width: 100%;
 text-align: center;
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 transition: all 0.5s ease-in-out;
}
 
.border-hover .et_pb_column:hover .et_pb_promo_description h2 {
 opacity: 1;
 position: absolute;
 top: 40%;
 width: 100%;
 text-align: center;
 color: #fff;
}
 
.border-hover .et_pb_column:hover .et_pb_promo_description p {
 opacity: 1;
 position: absolute;
 top: 50%;
 width: 100%;
 text-align: center;
 color: #fff;
}
 
.border-hover .et_pb_promo {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}
 
.border-hover .et_pb_promo_button {
 opacity: 0;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.footer-widget{
  width: 47% !important;
  border-right: 0px !important;
}
.footer-widget:nth-child(2){
  float: right;
  margin-right: 0px;
  text-align: right;
}
.footer-widget:nth-child(2) .et_pb_widget{
  float: right;
}


.footer-widget .fwidget{ /* text widget */
  margin-bottom: 20px !important;
}

#footer-info{
  width: 100% !important;
}

#footer-bottom{
  background-color: transparent !important;
}
#footer-bottom .et-social-icons{
  display: none;
}
@media(max-width: 1028px){
  #footer-bottom  .content{
    display: block;
    margin-bottom: 30px;
  }

  .fwidget{
    width: 100%;
  }
}
@media(min-width: 1028px){
  #footer-bottom  .content{
    float: right;
  }
}
#footer-bottom  .content{
  position: relative;
  color: #eedf00;
  top: 20px;
}
#footer-bottom  .content::after{
  clear: both;
  content: '';
  display: block;
}
#footer-bottom .content a{
  color: #fff;
}

/*----- HOME PAGE -----*/
/* product category image hover effecsts */
/* credit: https://tympanus.net/Tutorials/OriginalHoverEffects/index6.html */
@media(max-width: 768px){
  .view{
    width: 100%;
    height: 150px;
  }
  .view .mask, .view .content {
    width: 100%;
    height: 150px;
  }
  .view h2 {
     font-size: 14px;
  }
  .view p {
     font-size: 15px;
  }
}

@media(min-width: 768px) and (max-width: 1028px){
  .view{
    width: 48.75%;
    height: 254px;
    margin-right: 2.5%;
  }
  .view:nth-child(2n){
    margin-right: 0;
  }
  .view .mask, .view .content {
    width: 100%;
    height: 254px;
  }
  .view h2 {
     font-size: 15px;
  }
  .view p {
     font-size: 14px;
  }
}

@media(min-width: 1028px){
  .view {
    width: 31.7616%;
    height: 254px;
    margin-right: 2.35765%;
  }
  .view:nth-child(3n){
    margin-right: 0;
  }
  .view .mask, .view .content {
    width: 100%;
    height: 254px;
  }
  .view h2 {
     font-size: 16px;
  }
  .view p {
     font-size: 14px;
  }
}

.view {    
    margin-bottom: 30px;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff;
    border: 1px solid #efefef;
    box-shadow: 2px 2px 10px #ccc;
}

.view .image-container{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.view .mask, .view .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 15px 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
    top: 50%;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-sixth img { 
  transition: all 0.4s ease-in-out 0.5s; 
}
.view-sixth .mask{ 
  background-color: rgba(146,96,91,0.5);
  opacity:0;
  transition: all 0.3s ease-in 0.4s;
}
/* dark blue */
.view-sixth:first-child .mask, .view-sixth:last-child .mask{
  background-color: rgba(0, 79, 162, 0.8);
}
/* light blue */
.view-sixth:nth-child(3) .mask, .view-sixth:nth-child(5) .mask{
  background-color:rgba(0, 180, 240, 0.8);
}
/* yellow */
.view-sixth:nth-child(2) .mask, .view-sixth:nth-child(4) .mask{
  background-color: rgba(249, 229, 0, 0.8);
}
.view-sixth:nth-child(2) .mask p, .view-sixth:nth-child(4) .mask p{
   color: #004fa2 !important;
}

.view-sixth h2{
  opacity:1;
  position: absolute;
  top: 0px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: #6d6e71;
  margin-top:0px;
}
.view-sixth p { 
  opacity:0;
    transform: scale(10);
  transition: all 0.3s ease-in-out 0.2s;
}
.view-sixth a.info { 
  opacity:0;
    transform: translateY(100px);
  transition: all 0.3s ease-in-out 0.1s;
}

.view-sixth:hover .mask {  
  opacity:1; 
  transition-delay: 0s;
}                                      
.view-sixth:hover img { 
  transition-delay: 0s; 
}
.view-sixth:hover h2 { 
  opacity: 1;
    transform: scale(1);
  transition-delay: 0.1s;
}
.view-sixth:hover p { 
  opacity:1; 
    transform: scale(1) translateY(-50%);
  transition-delay: 0.2s;
}
.view-sixth:hover a.info { 
  opacity:1;
  transform: translateY(0px);
  transition-delay: 0.3s;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: transparent;
}


/*--- card style ---*/
.cards{
  position: relative;
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.cards .item{
  width:100%;
  height: 250px;
  margin: 0 0 4% 0;
  position:relative;
  cursor: pointer;
  overflow:hidden;
  background-color: #094fa3;
}

@media(min-width:667px) and (max-width:1028px){
  .cards .item{
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .cards .item:nth-child(2n){
    margin-right:0px;
  }
}
@media(min-width:1028px){
  .cards .item{
    margin-right: 2.35765%;
    margin-bottom: 2.35765%;
    width: 31.7616%;
  }
  .cards .item:nth-child(3n){
    margin-right: 0px;
  }
}


.cards .item:hover{
  background-color: transparent;
}

.cards .item .image{
   width: 100%;
  height: 100%;
    background-size: cover;
    background-position: center center;
-webkit-transform: rotate(9deg) scale(1.4);
	transform: rotate(9deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  opacity: .5;
}


.cards .item:hover .image{
  -webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
  opacity:1;
}

.cards figcaption{ 
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  text-align:center;
}

.cards figcaption h4{
  color: #fff;
}
.cards figcaption .description{
  opacity: 0;
}
.cards .item:hover .description{
  opacity: 1;
}
.cards .item a{
      display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
}


/*----- CIRCULAR CAROUSEL SECTION -----*/
#showcase{
  height:400px;

}
.cloud9-item{
  height: 350px;

}

.cloud9-text-container{
  position: relative;
}
@media(max-width: 480px){
  .cloud9-text-container{
    padding: 225px 0;
  }
}
@media(min-width: 480px) and (max-width: 768px){
  .cloud9-text-container{
    padding: 175px 0;
  }
}
@media(min-width: 768px) and (max-width: 1028px){
  .cloud9-text-container{
    padding: 150px 0;
  }
}
@media(min-width: 1028px){
  .cloud9-text-container{
    padding: 50px 0;
  }
}


.cloud9-text-container::after{
  clear:both;
  display: block;
  content: '';
}
.cloud9-text-container .cloud9-text{
  display: none;
  position: absolute;
  top:0px;
  
}
@media(max-width: 1280px){
  .cloud9-text-container .cloud9-text{
    left: 10%;
  }
}
@media(min-width: 1280px){
  .cloud9-text-container .cloud9-text{
    margin:0 16%;
  }
}

/* gradient section */
.gradient-section{
  background: -moz-linear-gradient(left, #00aeef 0%, #00aeef 20%, #094fa3 40%, #094fa3 51%, #094fa3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00aeef 0%,#00aeef 20%,#094fa3 40%,#094fa3 51%,#094fa3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #00aeef 0%,#00aeef 20%,#094fa3 40%,#094fa3 51%,#094fa3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#094fa3',GradientType=1 ); /* IE6-9 */
}


/* main header - primary menu */
#main-header{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+20,00aeef+40,00aeef+51,00aeef+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 20%, #00aeef 40%, #00aeef 51%, #00aeef 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 0%,#ffffff 20%,#00aeef 40%,#00aeef 51%,#00aeef 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 0%,#ffffff 20%,#00aeef 40%,#00aeef 51%,#00aeef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00aeef',GradientType=1 ); /* IE6-9 */
}

/* first full header width */
.et_pb_fullwidth_section:first-child .et_pb_fullwidth_header{
  padding: 100px 0;
}

#top-menu-nav .menu-item{
  padding: 0 0px 33px 0 !important;
}

#top-menu-nav .menu-item-has-children a::after{
  position: relative !important;
}

#top-menu-nav .menu-item a{
  color: #fff;
  text-transform: uppercase;
  border-right: 1px solid #094fa3;
  padding: 0 15px !important;
}

#top-menu-nav .current-menu-item a, #top-menu-nav .menu-item a:hover{
  color: #fff200 !important;
}


/* primary menu - sub menu */
.nav li ul.sub-menu{
  background-color: #094fa3;

}

#top-menu-nav ul.sub-menu .menu-item{
  padding-bottom: 15px !important;
}

/* secondary menu */
#top-header{
  border-bottom: 6px solid #fff;
}



/* featured products */
.wcps-container .owl-nav.topright{
  top: 40%;
  left: 0px;
  width: 100%;
}
.wcps-container  .owl-nav div{
  background-color: red;
}


.wcps-container  .owl-nav.topright .owl-prev, .wcps-container  .owl-nav.topright .owl-next{
  border-radius: 50%;
  padding: 20px;
  transition: 2s all;
}
.wcps-container  .owl-nav.topright .owl-prev{
  background: url(/wp-content/plugins/woocommerce-products-slider/assets/front/css/images/arrow-prev.png) no-repeat center #fff200 !important;
}
.wcps-container  .owl-nav.topright .owl-prev:hover{
  background: url(/wp-content/plugins/woocommerce-products-slider/assets/front/css/images/arrow-prev.png) no-repeat center #004fa2 !important;
}
.wcps-container  .owl-nav.topright .owl-next{
  float: right;
  background: url(/wp-content/plugins/woocommerce-products-slider/assets/front/css/images/arrow-next.png) no-repeat center #fff200 !important;
}
.wcps-container  .owl-nav.topright .owl-next:hover{
  background: url(/wp-content/plugins/woocommerce-products-slider/assets/front/css/images/arrow-next.png) no-repeat center #004fa2 !important;
}

.wcps-items{
  border: 1px solid #efefef;
  box-shadow: 2px 2px 10px #ccc;
}

.owl-item .layer-media .wcps-items-thumb{
  height: 220px;
}
.owl-item .layer-content{
  min-height: 230px;
  background-color: #fff;
}
.owl-item .layer-content a.button{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border: 0px;
  background-color: #fff200;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  transition: 2s all;
}
.owl-item .layer-content a.button:hover{
  background-color: #004fa2;
  color: #fff200;
}
.owl-item .layer-content a.button::after{
  visibility: hidden;
}




/*----- RESOURCES AND SPECIFICATION PAGES -----*/
.pdf-list{
  list-style-type: none !important;
  display: flex;
  justify-content: flex-start;
  padding: 0px !important;
  margin: 0px;
}
.pdf-list li{
  text-align: center;
}
@media(max-width: 768px){
  .pdf-list li{
    width: 50%;
  }
}
@media(min-width: 768px) and (max-width: 1028px){
  .pdf-list li{
    width: 33.33%;
  }
}
@media(min-width: 1028px){
  pdf-list li{
    width: 25%;
  }
}
.pdf-list li .attachment-container{
  transition: 1s all;
  padding: 20px;
}
.pdf-list li .attachment-container:hover{
  box-shadow: 1px 1px 10px #555;
}


/*--- SINGLE PRODUCT PAGE ---*/
.download-files{
  display: flex;
}
.download-files span{
  text-align: center;
  margin: 10px;
  transition: 1s all;
  padding: 20px;
}
.download-files span:hover{
  box-shadow: 1px 1px 10px #555;
}



/*--- NEWS PAGE ---*/
.smb-news{
  display: flex;
  flex-wrap: wrap;
}

.smb-news article{
  margin-right: 0%;
  width: 100%;
  border: 1px solid #efefef;
  box-shadow: 2px 2px 10px #ccc;
  transition: all 0.5s; 
  position:relative;
}
@media(min-width:667px) and (max-width:1028px){
  .smb-news article{
    width: 48.75%;
    margin-right: 2.5%;
  }
  .smb-news article:nth-child(2n){
    margin-right: 0px;
  }
}
@media(min-width:1028px){
  .smb-news article{
    margin-right: 2.35765%;
    width: 31.7616%;
  }
  .smb-news article:nth-child(3n){
    margin-right: 0px;
  }
}


.smb-news article:hover{
  box-shadow: 10px 10px 10px #ccc;
}
.smb-news > article > a{
    max-height: 190px;
    overflow: hidden;
}
.smb-news article img{}
.smb-news article:hover .et_overlay{
  display: none;
}
.smb-news article h2{
  text-align:center;
}
.smb-news article h2 a{
  font-size: 0.8em;
}
.smb-news article .post-content{
  margin: 5% 5% 15% 5%;
}

.smb-news article .post-content a{
  background-color: #fff200;
  color: #004fa2;
  text-transform: uppercase;
  text-align: center;
  padding: 1%;
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
}


/* post dynamic sidebar */
#recent-posts-2{
  margin-left: 20px;
}